<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Money Manager</title>
        <link rel="stylesheet" href="\style\style.css"/>
        <link rel="stylesheet" href="\style\general.css"/>
        <link rel="stylesheet" href="\style\add-transaction.css"/>
        <link rel="stylesheet" href="\partials\forms.css"/>
        <link rel="stylesheet" href="\partials\modal.css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap" 
        rel="stylesheet">
        <link rel="stylesheet" href="\icon\css\font-awesome.min.css">
    </head>
    <body>
        <header>
            <div class="container-menu register">
                <a class="return" href="\index">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                </a>
                <h3> Editar Transação</h3> 
                <img id="logo" class="column" src="\images\logo.png" alt="Logo Money Manager">
                <h1 class="sr-only">Money Manager</h1>                
            </div>
        </header>
        <main class="container register">
            <section id="insert-transaction">
                <form id="form-transaction" method="post" action="/edit">
                    <fieldset>
                        <legend>
                            Dados da Transação
                        </legend>
                        <div class="grid-container">                            
                            <div class="input-group grid-1">
                                <input type="hidden" name="id" value="<%= transaction.id %>"/>
                                <label for="description"><span>Descrição</span></label>
                                <input type="text" id="description" name="description" value="<%=transaction.description%>" />

                                <% errors.forEach((error) => { %>
                                    <% if(error.description){ %> 
                                        <i class="alert"><%= error.description %></i>  
                                    <% }%>                                    
                                <% }) %> 
                            </div>
                            <div class="grid-2">
                                <div class="input-group grid-2-1">                                
                                    <label for="value-transaction"><span>Valor</span></label>
                                    <input type="number" step=".01" id="value-transaction" name="value-transaction" value="<%=transaction['value-transaction']%>"/>

                                    <% errors.forEach((error) => { %>
                                        <% if(error["value-transaction"]){ %> 
                                            <i class="alert"><%= error["value-transaction"] %></i>  
                                        <% }%>                                    
                                    <% }) %> 

                                </div>     

                                <div class="input-group grid-2-2"> 
                                    <label for="description"><span>Tipo</span></label>     
                                    
                                    <% errors.forEach((error) => { %>
                                        <% if(error.type){ %> 
                                            <i class="alert"><%= error.type %></i>  
                                        <% }%>                                    
                                    <% }) %> 

                                    <div class="group-combobox">                            
                                        <div class="custom-selection">
                                            <div class="select">
                                                <div class="header-select">
                                                    <span class="type"> <%=transaction.type %> </span> 
                                                    <input type="hidden" name="type" id="type" value="<%= transaction.type ? transaction.type : '' %>"/>       				
                                                </div>                                        
                                                <div class="group-arrow">
                                                    <div class="arrow"></div>
                                                </div>
                                            </div>                                	    				
                                            <div class="values">
                                                <span class="value selected" data-value="type">Receita</span>
                                                <span class="value" data-value="type">Despesa</span>
                                            </div>  
                                        </div>                          
                                    </div>
                                </div>
                            </div>
                            <div class="grid-3">
                                <div class="input-group grid-3-1">
                                    <label for="date"><span>Data</span></label>
                                    <input type="date" id="date" name="date" value="<%= transaction.date %>"/>

                                    <% errors.forEach((error) => { %>
                                        <% if(error.date){ %> 
                                            <i class="alert"><%= error.date %></i>  
                                        <% }%>                                    
                                    <% }) %> 

                                </div>
                                
                                <div class="input-group grid-3-2">  
                                    <label for=""><span>Categoria</span></label>                      
                                    <div class="group-combobox-category">                            
                                        <div class="custom-selection-category">
                                            <div class="select">
                                                <div class="header-select-category">
                                                    <span class="category"> <%=transaction.category %></span>    
                                                    <input type="hidden" name="category" id="category" value="<%= transaction.category ? transaction.category : '' %>"/>   
                                                </div>                                        
                                                <div class="group-arrow">
                                                    <div class="arrow"></div>
                                                </div>
                                            </div>                                	    				
                                            <div class="values-category">
                                                <span class="value-category selected" data-value="category">Lar</span>
                                                <span class="value-category" data-value="category">Alimentação</span>
                                                <span class="value-category" data-value="category">Carro</span>
                                            </div>  
                                        </div>                          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </section>
            <aside class="card-button">
                <div class="button-group">
                    <button class="button" form="form-transaction" type="submit" title="Salvar Dados">Salvar</button>
                </div>
            </aside>
        </main>
        
            
        <script src="/scripts/register.js" defer type="module"></script>
    </body>
</html>